In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Upload the CSV you saved and was created in Vacation Search.
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bluff,NZ,53.53,broken clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
1,2,Nikolskoye,RU,41.00,clear sky,59.70,30.79,Tourist House - Sablino
2,6,Mataura,NZ,51.67,scattered clouds,-46.19,168.86,Ellie's Villa
3,11,Ushuaia,AR,44.60,overcast clouds,-54.80,-68.30,Albatros Hotel
4,13,New Norfolk,AU,48.00,few clouds,-42.78,147.06,The Shingles Riverside Cottages
...,...,...,...,...,...,...,...,...
164,516,Stornoway,GB,42.80,light intensity shower rain,58.21,-6.39,Caladh Inn
165,531,Kyshtovka,RU,58.98,clear sky,56.55,76.63,Uyutnaya Mini-Hotel
166,534,Olafsvik,IS,37.94,clear sky,64.89,-23.71,Hotel Olafsvik
167,539,Harrisburg,US,44.01,broken clouds,40.27,-76.88,Hilton Harrisburg
168,540,Vankleek Hill,CA,39.99,overcast clouds,45.52,-74.65,Maple Lea Farm B & B

In [3]:
# Verify if the dataframe has NaN values
vacation_data_df.isnull().count()

City ID                169
City                   169
Country                169
Max Temp               169
Current Description    169
Lat                    169
Lng                    169
Hotel Name             169
dtype: int64

In [4]:
# Create cities dataframe for US, then create the cities want to visit
cities_to_visit = vacation_data_df[vacation_data_df["Country"] == 'CN']
city_A = cities_to_visit.iloc[[1]][["Lat", "Lng"]]
city_B = cities_to_visit.iloc[[2]][["Lat", "Lng"]]
city_C = cities_to_visit.iloc[[3]][["Lat", "Lng"]]
city_D = cities_to_visit.iloc[[4]][["Lat", "Lng"]]
print(city_A, city_B, city_C, city_D)

      Lat     Lng
80  37.02  111.91      Lat     Lng
84  33.7  118.68       Lat    Lng
92  36.67  117.0       Lat    Lng
108  42.8  93.45

In [5]:
# Create tuples for the cities
for rowA in city_A.itertuples(index=False, name=None):
    tupleA = rowA
for rowB in city_B.itertuples(index=False, name=None):
    tupleB = rowB
for rowC in city_C.itertuples(index=False, name=None):
    tupleC = rowC    
for rowD in city_D.itertuples(index=False, name=None):
    tupleD = rowD    

print(tupleA, tupleB, tupleC, tupleD)

(37.02, 111.91) (33.7, 118.68) (36.67, 117.0) (42.8, 93.45)

In [6]:
# Adding cities to 
city_df1 = cities_to_visit.iloc[[1]]
city_df2 = cities_to_visit.iloc[[2]].append(city_df1)
city_df3 = cities_to_visit.iloc[[3]].append(city_df2)
cities_df = cities_to_visit.iloc[[4]].append(city_df3)
cities_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
108,337,Hami,CN,54.39,clear sky,42.80,93.45,Laoyutang Resort
92,293,Jinan,CN,59.00,clear sky,36.67,117.00,Sofitel Silver Plaza Hotel Jinan
84,263,Zhongxing,CN,57.97,scattered clouds,33.70,118.68,New Century Grand Hotel Siyang
80,246,Jiexiu,CN,54.16,clear sky,37.02,111.91,IU Hotel Jinzhong Yuhua Road

In [7]:
# Adding a pop-up marker including: Hotel Name, City, Country and weather description
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [8]:
# Store the DataFrame Row.
cities_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]

In [9]:
gmaps.configure(api_key=g_key)
# Create a marker layer map.
locations = cities_df[["Lat", "Lng"]] 
fig = gmaps.figure()
route = gmaps.directions_layer(tupleB, tupleD, waypoints=[tupleC, tupleA], travel_mode='DRIVING',
                              show_markers=False)
fig.add_layer(route)
marker_layer = gmaps.marker_layer(locations, info_box_content=cities_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))