In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Upload the CSV you saved and was created in Weather_Database.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Ust-Maya,60.42,134.53,overcast clouds,31.17,90,98,6.46,RU,2020-05-09 22:25:40,0,0
1,1,Bluff,-46.60,168.33,broken clouds,53.53,74,60,10.29,NZ,2020-05-09 22:24:45,0,0
2,2,Nikolskoye,59.70,30.79,clear sky,41.00,64,2,4.47,RU,2020-05-09 22:25:41,0,0
3,3,Laguna,38.42,-121.42,clear sky,91.99,14,1,6.93,US,2020-05-09 22:25:41,0,0
4,4,Nouadhibou,20.93,-17.03,scattered clouds,67.53,76,45,25.01,MR,2020-05-09 22:25:41,0,0

In [3]:
city_data_df.dtypes

City_ID                       int64
City                         object
Lat                         float64
Lng                         float64
Current Description          object
Max Temp                    float64
Humidity                      int64
Cloudiness                    int64
Wind Speed                  float64
Country                      object
Date                         object
Rain inches (last 3 hrs)      int64
Snow inches (last 3 hrs)      int64
dtype: object

In [4]:
# Prompt the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 60

In [5]:
# Filter the data for temperature inputs.
city_data_temp = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
city_data_temp

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Ust-Maya,60.42,134.53,overcast clouds,31.17,90,98,6.46,RU,2020-05-09 22:25:40,0,0
1,1,Bluff,-46.60,168.33,broken clouds,53.53,74,60,10.29,NZ,2020-05-09 22:24:45,0,0
2,2,Nikolskoye,59.70,30.79,clear sky,41.00,64,2,4.47,RU,2020-05-09 22:25:41,0,0
6,6,Mataura,-46.19,168.86,scattered clouds,51.67,72,48,3.91,NZ,2020-05-09 22:24:38,0,0
8,8,Albany,42.60,-73.97,broken clouds,39.99,59,81,3.00,US,2020-05-09 22:25:42,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,534,Olafsvik,64.89,-23.71,clear sky,37.94,68,1,2.51,IS,2020-05-09 22:24:33,0,0
535,535,Katangli,51.71,143.23,clear sky,39.27,76,0,6.58,RU,2020-05-09 22:25:38,0,0
536,536,Egvekinot,66.32,-179.17,overcast clouds,31.75,99,100,14.74,RU,2020-05-09 22:27:15,0,0
539,539,Harrisburg,40.27,-76.88,broken clouds,44.01,41,75,26.40,US,2020-05-09 22:22:51,0,0
540,540,Vankleek Hill,45.52,-74.65,overcast clouds,39.99,47,90,13.87,CA,2020-05-09 22:27:16,0,0

In [6]:
# Prompt the customer if they would like to be raining or not
city_raining = str(input("Do you want it to be raining? (yes/no)"))
# Prompt the customer if they would like to be snowing or not
city_snowing = str(input("Do you want it to be snowing? (yes/no)"))

Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)no

In [7]:
# Creating dataframe with the yes or no inputs from raining and snowing
if (city_raining.lower() == "yes" and city_snowing.lower() == "yes" ):
    rain_snow_df = city_data_temp.loc[(city_data_temp["Rain inches (last 3 hrs)"] != 0)
                                      & (city_data_temp["Snow inches (last 3 hrs)"] != 0)]
    if (rain_snow_df.empty == True):
        print("Has not been raining or snowing for the last 3 hours on the cities")

elif (city_raining.lower() == "yes" and city_snowing.lower() == "no" ):
    rain_snow_df = city_data_temp.loc[(city_data_temp["Rain inches (last 3 hrs)"] != 0) 
                                      & (city_data_temp["Snow inches (last 3 hrs)"] == 0)]
    print("Has not been raining for the last 3 hours on the cities")
    
elif (city_raining.lower() == "no" and city_snowing.lower() == "yes" ):
    rain_snow_df = city_data_temp.loc[(city_data_temp["Rain inches (last 3 hrs)"] == 0) 
                                      & (city_data_temp["Snow inches (last 3 hrs)"] != 0)]
    print("Has not been snowing for the last 3 hours on the cities")

elif (city_raining.lower() == "no" and city_snowing.lower() == "no" ):
    rain_snow_df = city_data_temp.loc[(city_data_temp["Rain inches (last 3 hrs)"] == 0)
                                      & (city_data_temp["Snow inches (last 3 hrs)"] == 0)]

# In case someone has a typo error    
else:
     print("Please enter yes or no... Ask the question again")
        
rain_snow_df

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Ust-Maya,60.42,134.53,overcast clouds,31.17,90,98,6.46,RU,2020-05-09 22:25:40,0,0
1,1,Bluff,-46.60,168.33,broken clouds,53.53,74,60,10.29,NZ,2020-05-09 22:24:45,0,0
2,2,Nikolskoye,59.70,30.79,clear sky,41.00,64,2,4.47,RU,2020-05-09 22:25:41,0,0
6,6,Mataura,-46.19,168.86,scattered clouds,51.67,72,48,3.91,NZ,2020-05-09 22:24:38,0,0
8,8,Albany,42.60,-73.97,broken clouds,39.99,59,81,3.00,US,2020-05-09 22:25:42,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,534,Olafsvik,64.89,-23.71,clear sky,37.94,68,1,2.51,IS,2020-05-09 22:24:33,0,0
535,535,Katangli,51.71,143.23,clear sky,39.27,76,0,6.58,RU,2020-05-09 22:25:38,0,0
536,536,Egvekinot,66.32,-179.17,overcast clouds,31.75,99,100,14.74,RU,2020-05-09 22:27:15,0,0
539,539,Harrisburg,40.27,-76.88,broken clouds,44.01,41,75,26.40,US,2020-05-09 22:22:51,0,0
540,540,Vankleek Hill,45.52,-74.65,overcast clouds,39.99,47,90,13.87,CA,2020-05-09 22:27:16,0,0

In [8]:
# Add the cities to a marker layer map with a pop-up marker for each city that includes
if (rain_snow_df.empty == True):
    print("No data to report")
else:
    hotel_df = rain_snow_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
    hotel_df["Hotel Name"] = ""
    print(hotel_df.head(10))

           City Country  Max Temp Current Description    Lat     Lng  \
0      Ust-Maya      RU     31.17     overcast clouds  60.42  134.53
1         Bluff      NZ     53.53       broken clouds -46.60  168.33
2    Nikolskoye      RU     41.00           clear sky  59.70   30.79
6       Mataura      NZ     51.67    scattered clouds -46.19  168.86
8        Albany      US     39.99       broken clouds  42.60  -73.97
11      Ushuaia      AR     44.60     overcast clouds -54.80  -68.30
13  New Norfolk      AU     48.00          few clouds -42.78  147.06
15     Tasiilaq      GL     32.00     overcast clouds  65.61  -37.64
16    Busselton      AU     39.00           clear sky -33.65  115.33
19    Upernavik      GL     20.12     overcast clouds  72.79  -56.15

   Hotel Name
0
1
2
6
8
11
13
15
16
19

In [9]:
# Get Travel Destinations
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [10]:
# Iterate Through hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ust-Maya,RU,31.17,overcast clouds,60.42,134.53,
1,Bluff,NZ,53.53,broken clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
2,Nikolskoye,RU,41.00,clear sky,59.70,30.79,Tourist House - Sablino
6,Mataura,NZ,51.67,scattered clouds,-46.19,168.86,Ellie's Villa
8,Albany,US,39.99,broken clouds,42.60,-73.97,
11,Ushuaia,AR,44.60,overcast clouds,-54.80,-68.30,Albatros Hotel
13,New Norfolk,AU,48.00,few clouds,-42.78,147.06,The Shingles Riverside Cottages
15,Tasiilaq,GL,32.00,overcast clouds,65.61,-37.64,The Red House
16,Busselton,AU,39.00,clear sky,-33.65,115.33,Observatory Guest House
19,Upernavik,GL,20.12,overcast clouds,72.79,-56.15,Gina's Guesthouse - Upernavik

In [11]:
# Remove rows with no names for hotel names
hotel_df_final = hotel_df[hotel_df["Hotel Name"] != '']
hotel_df_final

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bluff,NZ,53.53,broken clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
2,Nikolskoye,RU,41.00,clear sky,59.70,30.79,Tourist House - Sablino
6,Mataura,NZ,51.67,scattered clouds,-46.19,168.86,Ellie's Villa
11,Ushuaia,AR,44.60,overcast clouds,-54.80,-68.30,Albatros Hotel
13,New Norfolk,AU,48.00,few clouds,-42.78,147.06,The Shingles Riverside Cottages
...,...,...,...,...,...,...,...
516,Stornoway,GB,42.80,light intensity shower rain,58.21,-6.39,Caladh Inn
531,Kyshtovka,RU,58.98,clear sky,56.55,76.63,Uyutnaya Mini-Hotel
534,Olafsvik,IS,37.94,clear sky,64.89,-23.71,Hotel Olafsvik
539,Harrisburg,US,44.01,broken clouds,40.27,-76.88,Hilton Harrisburg
540,Vankleek Hill,CA,39.99,overcast clouds,45.52,-74.65,Maple Lea Farm B & B

In [12]:
# Save and upload the new DataFrame as WeatherPy_vacation.csv
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the hotel data into a CSV.
hotel_df_final.to_csv(output_data_file, index_label = "City ID")

In [13]:
# Adding a pop-up marker including: Hotel Name, City, Country and weather description
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [14]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_final.iterrows()]

In [15]:
gmaps.configure(api_key=g_key)
from ipywidgets.embed import embed_minimal_html
# Create a marker layer map.
locations = hotel_df_final[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Save the figure.
embed_minimal_html('weather_data/WeatherPy_vacation_map.html', views=[fig])

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))