In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2020-05-07 02:00:04,-46.60,168.33,54.91,79,40,28.57
1,1,Nanortalik,GL,2020-05-07 02:00:04,60.14,-45.24,38.95,84,99,3.18
2,2,Hilo,US,2020-05-07 01:55:37,19.73,-155.09,82.40,58,20,12.75
3,3,Albany,US,2020-05-07 02:00:05,42.60,-73.97,53.01,63,100,5.26
4,4,Rikitea,PF,2020-05-07 02:00:05,-23.12,-134.97,74.82,64,100,11.63

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Remove negative temperatures.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Using list Comprehension 
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
[max(temp, 0) for temp in max_temp]

[54.91,
 38.95,
 82.4,
 53.01,
 74.82,
 12.2,
 60.8,
 75.2,
 51.8,
 105.8,
 64.06,
 81.39,
 60.01,
 83.8,
 12.16,
 86.0,
 57.58,
 82.08,
 73.4,
 39.0,
 64.4,
 59.07,
 60.8,
 78.78,
 32.31,
 59.0,
 76.35,
 85.75,
 64.96,
 59.0,
 12.2,
 77.0,
 73.99,
 80.6,
 31.8,
 52.0,
 71.6,
 45.12,
 49.48,
 88.65,
 82.4,
 82.4,
 42.8,
 42.87,
 61.86,
 80.62,
 78.8,
 65.93,
 75.2,
 59.0,
 50.07,
 57.0,
 64.4,
 48.61,
 62.6,
 30.2,
 86.59,
 62.6,
 42.8,
 41.0,
 69.01,
 73.99,
 23.0,
 39.2,
 56.53,
 46.4,
 61.0,
 71.6,
 58.08,
 57.36,
 77.0,
 76.33,
 37.74,
 86.18,
 19.2,
 41.0,
 82.31,
 39.99,
 33.26,
 6.4,
 52.45,
 62.6,
 66.99,
 75.2,
 59.0,
 68.0,
 80.6,
 77.47,
 41.0,
 33.8,
 55.4,
 84.2,
 44.92,
 83.73,
 46.4,
 70.47,
 48.2,
 27.88,
 51.6,
 77.0,
 86.4,
 46.53,
 72.73,
 57.2,
 62.6,
 69.8,
 59.0,
 81.93,
 32.45,
 60.53,
 32.0,
 89.6,
 58.15,
 85.12,
 77.0,
 84.2,
 35.6,
 59.04,
 57.09,
 64.4,
 57.99,
 35.94,
 71.31,
 64.4,
 57.99,
 69.01,
 77.0,
 42.8,
 44.6,
 44.49,
 87.8,
 51.8,
 75.81,
 44.6,
 82.4,
 86.0,
 40.21,
 75.2,
 33.06,
 64.4,
 49.64,
 81.77,
 57.2,
 84.72,
 30.2,
 42.01,
 44.94,
 73.94,
 75.2,
 46.04,
 58.06,
 73.99,
 55.33,
 75.2,
 35.8,
 64.89,
 30.2,
 42.8,
 62.6,
 84.2,
 59.0,
 4.84,
 84.2,
 13.1,
 62.02,
 55.4,
 72.0,
 48.2,
 90.0,
 59.0,
 57.38,
 37.0,
 33.01,
 21.79,
 32.0,
 85.57,
 51.01,
 63.0,
 62.6,
 81.36,
 85.53,
 70.99,
 57.0,
 89.74,
 62.6,
 41.0,
 57.2,
 76.3,
 38.37,
 32.76,
 40.24,
 75.2,
 24.87,
 84.43,
 37.58,
 14.49,
 78.19,
 80.6,
 82.09,
 68.23,
 80.85,
 89.76,
 72.73,
 42.8,
 46.0,
 83.88,
 82.4,
 78.01,
 45.64,
 87.01,
 75.2,
 55.4,
 78.55,
 48.99,
 70.0,
 53.6,
 85.19,
 81.0,
 73.99,
 62.6,
 61.16,
 75.99,
 68.0,
 45.0,
 46.87,
 28.72,
 32.0,
 90.01,
 32.0,
 50.09,
 31.23,
 66.2,
 78.8,
 30.2,
 48.99,
 86.04,
 69.55,
 50.52,
 53.74,
 86.0,
 55.0,
 77.7,
 77.0,
 82.99,
 56.64,
 68.0,
 78.66,
 44.6,
 66.15,
 62.6,
 66.2,
 47.53,
 53.6,
 81.57,
 80.6,
 66.2,
 77.0,
 84.65,
 55.38,
 63.84,
 68.81,
 75.2,
 73.99,
 34.23,
 91.0,
 62.6,
 54.0,
 55.67,
 45.0,
 52.61,
 74.39,
 87.01,
 84.2,
 69.66,
 91.6,
 82.94,
 84.2,
 34.39,
 73.99,
 44.6,
 60.91,
 51.01,
 84.94,
 64.4,
 71.6,
 48.2,
 47.98,
 51.01,
 84.85,
 71.53,
 72.0,
 89.46,
 66.2,
 48.99,
 66.2,
 74.88,
 72.0,
 65.61,
 81.7,
 81.75,
 44.01,
 62.01,
 68.0,
 46.22,
 50.0,
 72.16,
 48.2,
 30.2,
 75.2,
 84.27,
 62.83,
 48.13,
 66.99,
 60.8,
 69.1,
 82.26,
 46.6,
 82.83,
 79.68,
 62.6,
 59.32,
 62.38,
 57.56,
 57.04,
 42.8,
 71.6,
 46.4,
 63.0,
 66.45,
 47.73,
 54.0,
 58.77,
 84.15,
 81.77,
 60.8,
 22.95,
 61.65,
 59.05,
 42.8,
 62.24,
 75.0,
 60.8,
 55.4,
 69.8,
 66.2,
 57.2,
 41.0,
 54.88,
 71.6,
 52.12,
 51.58,
 71.6,
 85.03,
 32.0,
 73.74,
 44.46,
 42.8,
 68.0,
 73.11,
 81.03,
 37.99,
 68.38,
 38.95,
 80.6,
 55.4,
 92.88,
 64.99,
 64.4,
 60.93,
 53.01,
 82.31,
 80.6,
 39.0,
 49.37,
 46.0,
 15.8,
 89.85,
 53.69,
 78.8,
 57.2,
 49.95,
 83.43,
 39.97,
 49.51,
 54.0,
 80.1,
 41.0,
 45.0,
 37.13,
 71.01,
 64.4,
 48.0,
 70.0,
 69.82,
 63.0,
 62.58,
 44.01,
 75.99,
 73.99,
 71.64,
 33.84,
 84.2,
 33.01,
 42.8,
 45.48,
 93.99,
 39.99,
 51.58,
 37.4,
 63.14,
 86.83,
 73.4,
 65.46,
 67.26,
 57.2,
 64.99,
 77.38,
 78.24,
 24.8,
 51.8,
 75.2,
 57.47,
 50.0,
 51.19,
 79.52,
 50.59,
 80.94,
 31.59,
 73.4,
 84.2,
 85.62,
 53.01,
 62.13,
 66.2,
 5.0,
 40.33,
 39.96,
 79.18,
 43.03,
 62.6,
 64.4,
 46.4,
 74.93,
 58.08,
 63.0,
 78.01,
 57.29,
 37.99,
 76.87,
 50.86,
 68.0,
 74.73,
 67.84,
 26.58,
 67.66,
 81.84,
 75.0,
 62.74,
 53.89,
 82.58,
 32.0,
 80.6,
 62.6,
 45.0,
 83.48,
 86.34,
 32.0,
 55.99,
 35.85,
 30.2,
 64.99,
 46.4,
 57.2,
 68.61,
 72.19,
 78.55,
 57.2,
 63.0,
 40.87,
 73.29,
 55.4,
 20.73,
 55.4,
 73.99,
 46.4,
 77.34,
 66.0,
 81.79,
 75.2,
 42.8,
 69.19,
 48.2,
 74.86,
 81.9,
 35.6,
 56.61,
 77.0,
 55.99,
 48.0,
 52.0,
 55.0,
 78.58,
 62.91,
 63.19,
 48.2,
 69.42,
 55.87,
 73.4,
 80.6,
 55.51,
 59.0,
 65.62,
 74.28,
 84.16,
 70.0,
 66.2,
 89.6,
 27.54,
 73.4,
 42.8,
 42.01,
 45.19,
 93.2,
 65.97,
 81.55,
 79.79,
 42.75,
 60.8,
 66.99,
 60.8,
 60.93,
 88.36,
 66.2,
 78.01,
 86.0,
 77.83,
 52.72,
 41.0,
 68.43,
 46.4,
 59.0,
 86.0,
 78.22,
 55.58,
 53.19,
 57.2,
 42.8,
 85.6,
 48.94]

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, 
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create a Percent Humidity Heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create a Percent Cloudiness Heatmap
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Get Vacation criteria
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hilo,US,2020-05-07 01:55:37,19.73,-155.09,82.40,58,20,12.75
7,7,Cabedelo,BR,2020-05-07 02:00:06,-6.98,-34.83,75.20,100,20,12.91
11,11,Atuona,PF,2020-05-07 02:00:08,-9.80,-139.03,81.39,75,6,15.12
13,13,Butaritari,KI,2020-05-07 02:00:09,3.07,172.79,83.80,77,61,10.22
15,15,Georgetown,MY,2020-05-07 01:57:11,5.41,100.34,86.00,83,20,3.36
17,17,Hambantota,LK,2020-05-07 02:00:10,6.12,81.12,82.08,79,52,7.92
23,23,Tecoanapa,MX,2020-05-07 02:00:11,16.52,-98.75,78.78,77,0,3.49
26,26,Wanxian,CN,2020-05-07 02:00:12,30.80,108.39,76.35,75,98,8.19
27,27,Kavaratti,IN,2020-05-07 02:00:12,10.57,72.64,85.75,69,95,3.11
31,31,Mackay,AU,2020-05-07 02:00:12,-21.15,149.20,77.00,94,75,12.75

In [17]:
# Checking for null values
preferred_cities_df.count()

# Consider the following guidance:
# Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.
# It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.
# If you have some rows with null values, you’ll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
2         Hilo      US     82.40  19.73 -155.09
7     Cabedelo      BR     75.20  -6.98  -34.83
11      Atuona      PF     81.39  -9.80 -139.03
13  Butaritari      KI     83.80   3.07  172.79
15  Georgetown      MY     86.00   5.41  100.34
17  Hambantota      LK     82.08   6.12   81.12
23   Tecoanapa      MX     78.78  16.52  -98.75
26     Wanxian      CN     76.35  30.80  108.39
27   Kavaratti      IN     85.75  10.57   72.64
31      Mackay      AU     77.00 -21.15  149.20

In [19]:
# Get Travel Destinations
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate Through hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

          City Country  Max Temp    Lat     Lng                     Hotel Name
2         Hilo      US     82.40  19.73 -155.09            Hilo Hawaiian Hotel
7     Cabedelo      BR     75.20  -6.98  -34.83              Lua Mansa Pousada
11      Atuona      PF     81.39  -9.80 -139.03                    Villa Enata
13  Butaritari      KI     83.80   3.07  172.79             Isles Sunset Lodge
15  Georgetown      MY     86.00   5.41  100.34                 Cititel Penang
17  Hambantota      LK     82.08   6.12   81.12                    Bungalow 63
23   Tecoanapa      MX     78.78  16.52  -98.75                Hotel Manglares
26     Wanxian      CN     76.35  30.80  108.39  7Days Inn Chongqing Shiqiaopu
27   Kavaratti      IN     85.75  10.57   72.64    Bismillah Hotel And Lodging
31      Mackay      AU     77.00 -21.15  149.20      International Lodge Motel

In [27]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Adding an info box template
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))